{# Twig est un langage d'interpolation: càd il peut interpreter les variables dans la class de Controller (AbstractController) #}

 
 
 {% extends 'base.html.twig' %} 

    
{% block body %}

    {# 
        <h1>Ma page home</h1>
        {# Générer un URL avec une function PATH pour accéder à une page (1er param c'est le nom d'URL(qui est un tableau), le 2èm param c'est les autres variables présenté dans un tableau comme celui de JS càd séparé par le : (même syntaxe) ) #}
    {#
       <a href="{{ path('hello-nometaccess', {'nom': 'PAULA', 'access':'Visiteur'}) }}">Profil</a>

       {# Structure de contrôle : affichage avec une condition #}
    {#
        {% if access == 'admin' %}
            <p> Bievenue Administrateur </p>
        {% else %}
            <p> Bienvenue cher visiteur </p>
        {% endif %}

        {# Structure de contrôle : affichage avec une boucle #}
        {#     itocle ici est une variable créée qui est clé aussi   la virgule sépare la clé et la valeur   itovaleur est le nom de la valeur crée c'est la valeur #}
    {# 
        {% for itocle,itovaleur in tableau %}
            {# Faire une condition en utilisant la variable loop (si la 1ère itération de la boucle est true)  #}
    {#      
        {% if loop.first or loop.last %}
          {# Alors affichage clé/valeur dont clé en gras #}
    {#    
          <p><strong> {{ itocle|lower }} </strong> est un: {{ itovaleur }} </p>
          {% else %}
            {# Alors affichage clé/valeur simple #}
    {#      
                <p> {{ itocle }} est un: {{ itovaleur }} </p>
              {% endif %}
          {% endfor %} 
    #}  




    {# body extrait dans bootswatch.com #} 
    <main class="container">

      <div class="jumbotron mt-5">
        <h1 class="h2">Site d'annonce</h1>
        <p class="lead">C'est un simple jumbotron</p>
        <hr class="my-4">
        <p>Utilise le typographie</p>
        <p class="lead">
          <a href="#" class="btn btn-primary" role="button">+ d'infos</a>
        </p>
      </div> 

      {# Les meilleures annonces à partir de Repository #}
      <h3 class="h1 mt-5 mb-3">Les {{ads|length}} {% if ads|length <= 1 %}meilleure{% else %}meilleures{% endif %}  annonces</h3>
      <section class="row">
      {% for data in ads %}
        {% include "ad/_ad.html.twig" with {'ad':data.annonce} %}
      {% endfor %}
      </section>


      {# Les meilleures annonceur #}
      <h3 class="h1 mt-5 mb-3">Le top {{users|length}} des annonçeurs</h3>
      <section class="row">
        {% for data in users %}
          {% include "user/_user.html.twig" with {'user':data.annoceur} %}
        {% endfor %}
      </section>

    </main>       
  <br><br><br>
{% endblock %}

