{% extends 'base.html.twig' %}

{# trouver le champ par rapport à son ADN(slug) #}
{% block title %}{{ad.title}}{% endblock %}

{% block body %}

    <div style="background-image:url({{ad.coverImage}})" class="titreAd  overlay">
        <div class="container">
            <h1>{{ad.title}}</h1>
            {#<h2>{{ dump(app.user) }}</h2>#}
            <p>{{ad.introduction}}</p>
            <p>{{ad.rooms}} chambres<strong> {{ad.price}} &euro;</strong>/nuit</p>
            <a href="#" class="btn btn-warning">Réserver !</a>
            {#Rajouter une condition si l'utilisateur est connecté(app.use) et l'author de l'annonce #}
            {% if app.user and app.user == ad.author %}
                <a href="{{path("ads_edit",{"slug":ad.slug})}}" class="btn btn-info">Modifier mon annonce</a>
                <a href="{{path("ads_delete",{"slug":ad.slug})}}" class="btn btn-primary" onclick="return confirm(`Etes-vous sûr de vouloir supprimer votre annonce`)">Supprimer votre annonce</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-8 mb-3">
                {# |raw veut dire sans balise HTML #}
                {{ad.content|raw}}

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                         {# Ici on récupére les images secondaires spécialement pour les indicateurs et le mode active #}
                         {% for imageentity in ad.yes %}
                            {# ainsi les indicateurs sont en dur, alors on utilise => loop.index0 càd la variable de 0 jusqu'au nombre total d'images secondaires #}
                            {# ici tous les <button> sont en mode active, alors on utilise => loop.first càd seul le 1er variable est en mode active #}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" class="{% if loop.first  %}active{% endif %}" aria-current="true" aria-label="Slide 1"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {# Ici on récupére les images secondaires pour les affichées en carousel #}
                        {% for imageentity in ad.yes %}
                            {# ici tous les <div> sont en mode active, alors on utilise => loop.first càd seul le 1er variable est en mode active #}
                            <div class="carousel-item {% if loop.first  %}active{% endif %}">
                                <img src="{{imageentity.url}}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1 class="h4">{{ad.title}}</h1>
                                    <p>{{imageentity.caption}}</p>
                                </div>                                    
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"     data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </button>
                </div>

            </div>


            {# A partir d'ici on utilise L'Entity User.php #}
            <div class="col">
            {# Pour éviter la répétion de la méthode (ad.author) on va crée une varible moins  longue #}
            {% set a = ad.author %}
            {% set url = path('user_show',{'slug':a.slug}) %}
                <div class="row">
                    <div class="col-4">
                        <a href="{{ url }}">
                            <img src="{{a.avatar}}" alt="{{a.fullname}}" class="avatar ">
                        </a>    
                    </div>
                    <div class="col fullname">
                        <a href="{{ url }}">
                            <h4>{{a.fullname}}</h4>
                        </a>
                        {# Pour avoir le nombre d'annonces publiées par l'author, on passe sur la variable ads de l'Entity User.php qui retourne un tableau et on stipule qu'on veut récupére la longeur de ce tableau #}
                        <span class="bg bg-warning">{{a.ads|length}} {% if a.ads|length >1  %} annonces {% else %} annonce {% endif %}</span>
                    </div>
                </div>
                 <p>{{a.introduction}}</p>

            </div>         
        </div>
    </div> 
    
    


{% endblock %}
