{% extends 'base.html.twig' %}

{% block title %}Page de profil{% endblock %}

{% block body %}


<div class="container mt-5">
    <h1>{{ controller_name }}</h1>
    <div class="row">
        <div class="col-3">
            <img src="{{user.avatar}}" alt="avatar de {{user.fullname}}" class="avatar">
            <br>
            <span class="badge badge-primary">{{user.ads|length}}{% if user.ads|length >1 %} annonces{% else %} annonce {% endif %}</span>
        </div>
        <div class="col-9 mb-5">
            <h1>{{user.fullname}}</h1>
            {#{{ dump(user) }}#}
            {#{{ dump(app.user) }}#}
            {#{{ dump(user) }}#}
            {# Vérifier si l'utilisateur connecté est le propriétaire du page de profil #}{# (same as) en twig veut dire (===)en php #}
            {% if user is same as (app.user) %}
                {# Si oui, il peut avoir accès à la modification de sa page profile et sa page de mot de passe #}
                <div class="row">
                    <div class="col-md-6" >
                        <a href="{{path('account_profile')}}" class="btn btn-outline-secondary">Modifier mon profil</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{{path('account_passwordupdate')}}" class="btn btn-outline-secondary">Modifier mon mot de passe</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {{ user.description|raw }}
        <hr class="py-3">
        <h2>Les annonces de: {{ user.fullname }}</h2>
    </div>

    {# Avant d'afficer l'annonce vérifié si l'user en possède une #}
    {% if user.ads|length > 0 %}
    

        {# Affichage de l'annonce de l'User avec le partial #}
        <div class="row">
            {% for ad in user.ads %}

                {% include 'ad/_ad.html.twig' %}
                
            {% endfor %}
        </div>
    {% else %}    
        <div class="alert alert-danger">
            <p>{{user.fullname}} n'a pas encore de l'annonce.</p>
        </div>
    {% endif %}
</div>

{% endblock %}
